<a href="https://colab.research.google.com/github/trevinofernando/Algorithms-for-Machine-Learning/blob/master/CreditCardFraud.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# CAP 4611 Final Project: Credit Card Transactions
## Completed by: Fernando Trevino & Raphael Guzman

In [1]:
import os
import json
import numpy as np
import pandas as pd
from enum import Enum 
import matplotlib.pyplot as plt
from google.colab import files,drive
from sklearn.model_selection import train_test_split

Constants

In [2]:
#Enums:
class AXIS(Enum):
    row = 0
    col = 1

Mount google drive to load data

In [3]:
#Mount to my google drive
drive.mount('/content/drive',force_remount=True)

os.chdir('/content/drive/My Drive/Colab Notebooks/Datasets/CreditCardFrauds')
!pwd

Mounted at /content/drive
/content/drive/My Drive/Colab Notebooks/Datasets/CreditCardFrauds

In [4]:
!ls

transactions.txt  transactions.zip

#Read dataset into dataframe

In [5]:
# converts list of dictionary of intances into dictionary of features 
# and returns column oriented dataframe 
def load_data(data):
    parse_data=data[0].keys()
    trans_data={}
    for i in parse_data:
        trans_data[i]=list()
    for row in data:
        for keys,values in row.items():
            if values=='':
                trans_data[keys].append(np.nan) #missing datapoints are assigned with 'NaN'
            else:
                trans_data[keys].append(values)
    return pd.DataFrame.from_dict(trans_data)

In [6]:
#Opening the file
contents = open("transactions.txt", "r").read()  
list_dict = [json.loads(str(item)) for item in contents.strip().split('\n')]
original_transaction_df = load_data(list_dict)

#Transaction data Data Frame
original_transaction_df

       accountNumber customerId  ...  recurringAuthInd  expirationDateKeyInMatch
0          733493772  733493772  ...               NaN                     False
1          733493772  733493772  ...               NaN                     False
2          733493772  733493772  ...               NaN                     False
3          733493772  733493772  ...               NaN                     False
4          733493772  733493772  ...               NaN                     False
...              ...        ...  ...               ...                       ...
641909     186770399  186770399  ...               NaN                     False
641910     186770399  186770399  ...               NaN                     False
641911     186770399  186770399  ...               NaN                     False
641912     186770399  186770399  ...               NaN                     False
641913     186770399  186770399  ...               NaN                     False

[641914 rows x 29 columns]

#Exploring Dataset

In [7]:
summary_df = original_transaction_df.describe(include = 'all')

summary_df.loc['dtype'] = original_transaction_df.dtypes
summary_df.loc['mode'] = original_transaction_df.mode().mode().iloc[0]
summary_df.loc['median'] = original_transaction_df.median()
summary_df.loc['NaN_%'] = original_transaction_df.isnull().mean()

summary_df

       accountNumber   customerId  ... recurringAuthInd expirationDateKeyInMatch
count         641914       641914  ...                0                   641914
unique          5000         5000  ...              NaN                        2
top        318001076    318001076  ...              NaN                    False
freq           10034        10034  ...              NaN                   640945
mean             NaN          NaN  ...              NaN                      NaN
std              NaN          NaN  ...              NaN                      NaN
min              NaN          NaN  ...              NaN                      NaN
25%              NaN          NaN  ...              NaN                      NaN
50%              NaN          NaN  ...              NaN                      NaN
75%              NaN          NaN  ...              NaN                      NaN
max              NaN          NaN  ...              NaN                      NaN
dtype         object       object  ...          float64                     bool
mode       318001076    318001076  ...              NaN                    False
median   5.43888e+08  5.43888e+08  ...              NaN                        0
NaN_%              0            0  ...                1                        0

[15 rows x 29 columns]

#Data Cleaning

##Handling columns missing a significant amount of data (80% or more)

In [8]:
transaction_df = original_transaction_df.copy()
for col in transaction_df:
  if summary_df.loc['NaN_%',col] >= 0.80:
    print("Dropping column '{}' for having {}% of NaN entries".format( col , summary_df.loc['NaN_%',col] * 100.0))
    transaction_df.drop(col, axis=AXIS.col.value, inplace=True)

print("Old dimensions: {}".format(original_transaction_df.shape))
print("New dimensions: {}".format(transaction_df.shape))
transaction_df

Dropping column 'echoBuffer' for having 100.0% of NaN entries
Dropping column 'merchantCity' for having 100.0% of NaN entries
Dropping column 'merchantState' for having 100.0% of NaN entries
Dropping column 'merchantZip' for having 100.0% of NaN entries
Dropping column 'posOnPremises' for having 100.0% of NaN entries
Dropping column 'recurringAuthInd' for having 100.0% of NaN entries
Old dimensions: (641914, 29)
New dimensions: (641914, 23)

       accountNumber customerId  ...  cardPresent  expirationDateKeyInMatch
0          733493772  733493772  ...        False                     False
1          733493772  733493772  ...        False                     False
2          733493772  733493772  ...        False                     False
3          733493772  733493772  ...        False                     False
4          733493772  733493772  ...        False                     False
...              ...        ...  ...          ...                       ...
641909     186770399  186770399  ...        False                     False
641910     186770399  186770399  ...        False                     False
641911     186770399  186770399  ...        False                     False
641912     186770399  186770399  ...        False                     False
641913     186770399  186770399  ...        False                     False

[641914 rows x 23 columns]

##Remove duplicate columns

In [9]:
#Code snipets taken from: https://stackoverflow.com/questions/14984119/python-pandas-remove-duplicate-columns
#https://stackoverflow.com/questions/10710328/comparing-numpy-arrays-containing-nan

def nan_equal(a,b):
  try:
    np.testing.assert_equal(a,b)
  except AssertionError:
    return False
  return True

def duplicate_columns(frame):
    groups = frame.columns.to_series().groupby(frame.dtypes).groups
    dups = []

    for t, v in groups.items():

        cols = frame[v].columns
        vs = frame[v]
        numCols = len(cols)

        for i in range(numCols):
            ia = vs.iloc[:,i].values
            for j in range(i+1, numCols):
                ja = vs.iloc[:,j].values
                if nan_equal(ia, ja):
                    print("Marking column '{}' as duplicate of column '{}'". format(cols[i], cols[j]))
                    dups.append(cols[i])
                    break

    return dups

In [10]:
print("Old dimensions: {}".format(transaction_df.shape))
dupl_cols = duplicate_columns(transaction_df)
print("Columns to be removed for being duplicates: {} ".format(dupl_cols))
transaction_df = transaction_df.drop(dupl_cols, axis=AXIS.col.value)
print("New dimensions: {}".format(transaction_df.shape))
transaction_df

Old dimensions: (641914, 23)
Marking column 'accountNumber' as duplicate of column 'customerId'
Columns to be removed for being duplicates: ['accountNumber']
New dimensions: (641914, 22)

       customerId  creditLimit  ...  cardPresent expirationDateKeyInMatch
0       733493772       5000.0  ...        False                    False
1       733493772       5000.0  ...        False                    False
2       733493772       5000.0  ...        False                    False
3       733493772       5000.0  ...        False                    False
4       733493772       5000.0  ...        False                    False
...           ...          ...  ...          ...                      ...
641909  186770399       7500.0  ...        False                    False
641910  186770399       7500.0  ...        False                    False
641911  186770399       7500.0  ...        False                    False
641912  186770399       7500.0  ...        False                    False
641913  186770399       7500.0  ...        False                    False

[641914 rows x 22 columns]

##Handling entries with a missing label

In [11]:
#Definetly don't want to guess labels. So drop any entry with missing labels (column=isFraud)
numRows = transaction_df.shape[AXIS.row.value]
transaction_df.dropna(subset = ['isFraud'])
print("Number of rows with missing labels: {}".format(numRows - transaction_df.shape[AXIS.row.value]))
if(numRows - transaction_df.shape[0] == 0):
  print("* This dataset had no missing labels. No entries were removed.")
numRows = transaction_df.shape[AXIS.row.value]

Number of rows with missing labels: 0
* This dataset had no missing labels. No entries were removed.

##Replacing NaN's with mode of corresponding Customer ID

In [12]:
#TODO: need to groupby customerId

#Replace NaN values with mode TODO: refactor code to do it by customerId
for col in transaction_df:
  if summary_df.loc['NaN_%',col] > 0.0:
    print("Replacing NaN entries on column'{}' with mode: {}".format(col, summary_df.loc['mode',col]))
    transaction_df[col].fillna(summary_df.loc['mode',col], inplace=True)

Replacing NaN entries on column'acqCountry' with mode: US
Replacing NaN entries on column'merchantCountryCode' with mode: US
Replacing NaN entries on column'posEntryMode' with mode: 05
Replacing NaN entries on column'posConditionCode' with mode: 01
Replacing NaN entries on column'transactionType' with mode: PURCHASE